#slide-navigator {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  /* Optional spacing */
  padding: 10px;

  /* Optional styling */
  z-index: 100;
  border-width: 1px;
  border-style: solid;
}

#slide-buttons {
}

.slide-button {
  display: inline-block; /* or block */
  margin: 2px;
  padding: 0.5rem 1rem;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

