#viewer-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #ccc;
    color: white;
    gap: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
    position: relative;
    z-index: 200;
    border-bottom: 2px solid #666;
}

.viewer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.viewer-right {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin-left: auto;
}